:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #000;
  border-radius: 50%;
  display: block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid #000;
  border-bottom-color: #ff3d00;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gallery {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.listitem {
  display: block;
  width: 360px;
  height: 200px;
}
.image {
  width: 360px;
  height: 152px;
}
.item-list {
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  gap: 24px;
  list-style: none;
  justify-content: center;
}
.block {
  color: rgba(46, 47, 66, 1);
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  gap: 28px;
}

.card {
  border-color: #ff3d00;
  border: 20px;
}
.form {
  display: block;
  text-align: center;
}
